doctype html
html
    head
    title Fix
    //link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel="stylesheet", href="/styles/styles.css")

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body(ng-app='app')
        include currentUser
        block main-content
        include scripts