extends ../includes/layout

block main-content
    div(ng-include="'/partials/partials/navBarPartial'")
    section.content
        div(ng-view)
    footer.container.text-center
        p &copy 2014-2015 Pernix